.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 70px;
    column-gap: 40px;
    
}
body{
    text-align: center;
}
img{
    width: 100%;
}
.product{
    text-align: center;
    width: 25%;
}
